footer {
  padding: 2rem;
  border-top: 1px solid var(--overlay-background-color);
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 975px;
  margin: auto;
}

footer .footer a:hover::before {
  background-size: 100% 2px;
} 

footer .footer span {
  padding-right: 10px;
}

@media (min-width: 900px) {
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
