footer {
  padding: 2rem;
  border-top: 1px solid var(--overlay-background-color);
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 975px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

@media (min-width: 900px) {
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
