@font-face {
  font-family: stevie-sans;
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/StevieSansLight.otf') format('otf');
}

@font-face {
  font-family: stevie-sans;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/StevieSansBook.otf') format('otf');
}

@font-face {
  font-family: stevie-sans;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/StevieSans.otf') format('otf');
}

@font-face {
  font-family: stevie-sans;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/StevieSansBold.otf') format('otf');
}
