@font-face {
  font-family: stevie;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/StevieSansLight.otf");
}

@font-face {
  font-family: stevie;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/StevieSansBook.otf");
}

@font-face {
  font-family: stevie;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/StevieSans.otf");
}

/* @font-face { */
/*   font-family: stevie; */
/*   font-weight: 700; */
/*   font-style: normal; */
/*   font-display: swap; */
/*   src: url("../fonts/StevieSans-Bold.otf"); */
/* } */
